.example-spacer {
  flex: 1 1 auto;
}
.app-toolbar {
 background-color: blue;
}
.app-toolbar span{
  color: white;
  font-weight: bold;
}
.main-body{
  max-width: 80%;
  padding-top:20px;
  margin: auto;
  mat-form-field{
    width: 100%;
  }
}